[run]
source = ase

# We would write the 'omit' section in the run section.
# But pytest-cov forgets that when generating report.
# So we write those paths in the report section instead.

[report]
precision = 2
omit =
    # We don't include the unittests since that's "cheating":
    ./*

    # Tools for releases and web page are not production code:
    ../utils/sphinx.py
    ../utils/build_web_page.py
    ../utils/newrelease.py

    # The "optimizer tests" are used to generate part of GPAW's web page
    # but we don't really consider it production code.
    # Since we don't plan to test it as such, we exclude it from the listing.
    ../optimize/test/*.py

    # TODO: Test external calculators and add to listing.
    ../calculators/gaussian.py
    ../calculators/crystal.py
    ../calculators/demonnano.py
    ../calculators/qchem.py
    ../calculators/aims.py
    ../calculators/psi4.py
    ../calculators/gamess_us.py
    ../calculators/orca.py
    ../calculators/fleur.py
    ../calculators/amber.py
    ../calculators/turbomole.py
    ../calculators/onetep.py
    ../calculators/dmol.py
    ../calculators/mopac.py
    ../calculators/acemolecule.py
    ../calculators/castep.py
    ../calculators/gulp.py
    ../calculators/demon/demon.py
    ../calculators/demon/demon_io.py
    ../calculators/vasp/create_input.py
    ../calculators/vasp/vasp_data.py
    ../calculators/vasp/setups.py
    ../calculators/vasp/interactive.py
    ../calculators/vasp/vasp2.py
    ../calculators/vasp/vasp.py

    # TODO: Improve IO format coverage and add include in coverage stats
    ../io/fortranfile.py
    ../io/turbomole.py
    ../io/acemolecule.py
    ../io/vtkxml.py
    ../io/castep.py

[html]
directory = coverage-html
